/* width */
::-webkit-scrollbar {
    width: 15px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: rgba(255, 255, 255, 1);
    box-shadow: 1px 1px 1px rgba($color: #21CBF8, $alpha: 0.5) inset;
    // border-left: 2px solid rgba(0, 0, 0, 0.5);
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: rgba(0, 0, 0, 0.7);
    box-shadow: 1px 1px 10px rgba($color: #000, $alpha: 0.5);
    border-radius: 5rem;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    // background: rgba(0, 0, 0, 0.9);
    background: greenyellow;
  }